<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.baojuxinxi.dao.DemoExportMapper">
	<resultMap id="BaseResultMap" type="net.baojuxinxi.pojo.DemoExport">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="img" property="img" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, img, description,type,createdate
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from demo_export
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from demo_export
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="net.baojuxinxi.pojo.DemoExport">
		insert into demo_export (id, img, description,type,createdate
		)
		values (#{id,jdbcType=INTEGER}, #{img,jdbcType=VARCHAR},
		#{description,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR},#{createdate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="net.baojuxinxi.pojo.DemoExport">
		insert into demo_export
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="img != null">
				img,
			</if>
			<if test="description != null">
				description,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="img != null">
				#{img,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="net.baojuxinxi.pojo.DemoExport">
		update demo_export
		<set>
			<if test="img != null">
				img = #{img,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="net.baojuxinxi.pojo.DemoExport">
		update demo_export
		set img = #{img,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<select id="findAll" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from demo_export
	</select>
	<select id="findByType" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from demo_export
		where 
		type = #{type,jdbcType=INTEGER}
		order by createdate desc
	</select>
</mapper>