<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.baojuxinxi.dao.TaskMapper">
  <resultMap id="BaseResultMap" type="net.baojuxinxi.pojo.Task">
    <id column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="parent_task_id" jdbcType="VARCHAR" property="parentTaskId" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="progress" jdbcType="DECIMAL" property="progress" />
    <result column="plan_begin_date" jdbcType="DATE" property="planBeginDate" />
    <result column="plan_end_date" jdbcType="DATE" property="planEndDate" />
    <result column="actual_begin_date" jdbcType="DATE" property="actualBeginDate" />
    <result column="actual_end_date" jdbcType="DATE" property="actualEndDate" />
    <result column="involved_dept" jdbcType="VARCHAR" property="involvedDept" />
    <result column="list_no" jdbcType="INTEGER" property="listNo" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="taskDescribe" jdbcType="VARCHAR" property="taskDescribe" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="isdeleted" jdbcType="TINYINT" property="isdeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, project_id, parent_task_id, NAME, state, weight, progress, plan_begin_date, 
    plan_end_date, actual_begin_date, actual_end_date, involved_dept, list_no, creator,taskDescribe, 
    create_time, isdeleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    where task_id = #{taskId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from task
    where task_id = #{taskId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="net.baojuxinxi.pojo.Task">
    insert into task (task_id, project_id, parent_task_id, 
      NAME, state, weight, 
      progress, plan_begin_date, plan_end_date, 
      actual_begin_date, actual_end_date, involved_dept, 
      list_no, creator,taskDescribe, create_time, 
      isdeleted)
    values (#{taskId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{parentTaskId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT}, #{weight,jdbcType=INTEGER}, 
      #{progress,jdbcType=DECIMAL}, #{planBeginDate,jdbcType=DATE}, #{planEndDate,jdbcType=DATE}, 
      #{actualBeginDate,jdbcType=DATE}, #{actualEndDate,jdbcType=DATE}, #{involvedDept,jdbcType=VARCHAR}, 
      #{listNo,jdbcType=INTEGER}, #{creator,jdbcType=VARCHAR},#{taskDescribe,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{isdeleted,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="net.baojuxinxi.pojo.Task">
    insert into task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="parentTaskId != null">
        parent_task_id,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="progress != null">
        progress,
      </if>
      <if test="planBeginDate != null">
        plan_begin_date,
      </if>
      <if test="planEndDate != null">
        plan_end_date,
      </if>
      <if test="actualBeginDate != null">
        actual_begin_date,
      </if>
      <if test="actualEndDate != null">
        actual_end_date,
      </if>
      <if test="involvedDept != null">
        involved_dept,
      </if>
      <if test="listNo != null">
        list_no,
      </if>
      <if test="creator != null">
        creator
      </if>
      <if test="taskDescribe != null">
        taskDescribe
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isdeleted != null">
        isdeleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null">
        #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=DECIMAL},
      </if>
      <if test="planBeginDate != null">
        #{planBeginDate,jdbcType=DATE},
      </if>
      <if test="planEndDate != null">
        #{planEndDate,jdbcType=DATE},
      </if>
      <if test="actualBeginDate != null">
        #{actualBeginDate,jdbcType=DATE},
      </if>
      <if test="actualEndDate != null">
        #{actualEndDate,jdbcType=DATE},
      </if>
      <if test="involvedDept != null">
        #{involvedDept,jdbcType=VARCHAR},
      </if>
      <if test="listNo != null">
        #{listNo,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="taskDescribe != null">
        #{taskDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="isdeleted != null">
        #{isdeleted,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.baojuxinxi.pojo.Task">
    update task
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null">
        parent_task_id = #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=DECIMAL},
      </if>
      <if test="planBeginDate != null">
        plan_begin_date = #{planBeginDate,jdbcType=DATE},
      </if>
      <if test="planEndDate != null">
        plan_end_date = #{planEndDate,jdbcType=DATE},
      </if>
      <if test="actualBeginDate != null">
        actual_begin_date = #{actualBeginDate,jdbcType=DATE},
      </if>
      <if test="actualEndDate != null">
        actual_end_date = #{actualEndDate,jdbcType=DATE},
      </if>
      <if test="involvedDept != null">
        involved_dept = #{involvedDept,jdbcType=VARCHAR},
      </if>
      <if test="listNo != null">
        list_no = #{listNo,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="taskDescribe != null">
        taskDescribe = #{taskDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="isdeleted != null">
        isdeleted = #{isdeleted,jdbcType=TINYINT},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.baojuxinxi.pojo.Task">
    update task
    set project_id = #{projectId,jdbcType=VARCHAR},
      parent_task_id = #{parentTaskId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      weight = #{weight,jdbcType=INTEGER},
      progress = #{progress,jdbcType=DECIMAL},
      plan_begin_date = #{planBeginDate,jdbcType=DATE},
      plan_end_date = #{planEndDate,jdbcType=DATE},
      actual_begin_date = #{actualBeginDate,jdbcType=DATE},
      actual_end_date = #{actualEndDate,jdbcType=DATE},
      involved_dept = #{involvedDept,jdbcType=VARCHAR},
      list_no = #{listNo,jdbcType=INTEGER},
      creator = #{creator,jdbcType=VARCHAR},
      taskDescribe = #{taskDescribe,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      isdeleted = #{isdeleted,jdbcType=TINYINT}
    where task_id = #{taskId,jdbcType=VARCHAR}
  </update>
  <!-- 分页 -->
  <select id="selectPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task
    <where>
    		<if test="name != null and name != '' ">
    			NAME LIKE CONCAT(CONCAT('%', #{name }),'%') 
    		</if>
    		
    		<if test="isdeleted != null and isdeleted != '' or isdeleted == 0 ">
    			AND isdeleted = #{isdeleted }
    		</if>
    		AND project_id = #{projectId,jdbcType=VARCHAR}
    	</where>
    	ORDER BY LIST_NO ASC,CREATE_TIME DESC
  </select>
  <!-- 删除 -->
    <update id="updateDeleteIn" parameterType="java.util.Map">
    update task
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=VARCHAR},
      </if>
      <if test="parentTaskId != null">
        parent_task_id = #{parentTaskId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=DECIMAL},
      </if>
      <if test="planBeginDate != null">
        plan_begin_date = #{planBeginDate,jdbcType=DATE},
      </if>
      <if test="planEndDate != null">
        plan_end_date = #{planEndDate,jdbcType=DATE},
      </if>
      <if test="actualBeginDate != null">
        actual_begin_date = #{actualBeginDate,jdbcType=DATE},
      </if>
      <if test="actualEndDate != null">
        actual_end_date = #{actualEndDate,jdbcType=DATE},
      </if>
      <if test="involvedDept != null">
        involved_dept = #{involvedDept,jdbcType=VARCHAR},
      </if>
      <if test="listNo != null">
        list_no = #{listNo,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="taskDescribe != null">
        taskDescribe = #{taskDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="isdeleted != null">
        isdeleted = #{isdeleted,jdbcType=TINYINT},
      </if>
    </set>
    where task_id in
    <foreach item="idItem" collection="idItems" index="index" open="(" separator="," close=")">
		#{idItem}
	</foreach>
  </update>
</mapper>